body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
.h1-color {
  color: orange;
}
h2{
    font-size: 40px;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.experience-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 10px 20px grey;
  padding-left: 20px;
  border-radius: 5px;
 
  
}

#baby-developer
{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}
#full-stack
{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(238, 121, 209),rgb(55, 1, 248));
    border-image-slice: 1;

}

.experience-area{
    background-image: url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}


.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, #f88366);
  color: white;
  font-weight: 700;
  /* 400 - regular 
    700 bold */
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url("top-banner.png");
  background-repeat: no-repeat;
}

.dream-big{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
#dream-data{
    padding-right: 150px;
}
#resume-button{
   
}

footer p{
    text-align: center;
}
