body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
.h1-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, #f88366);
  color: white;
  font-weight: 700;
  /* 400 - regular 
    700 bold */
  padding: 10px 40px;
  border-radius: 5px;
}
.top-banner {
  background-image: url("top-banner.png");
  background-repeat: no-repeat;
}

.dream-big{
    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
#dream-data{
    padding-right: 150px;
}
#resume-button{
   
}
